//Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './utils/utilities';

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  @include device(tablet) {
    background-color: $primary-color1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hero {
  max-width: 375px;
  margin: 0 auto;
  @include device(tablet) {
    display: grid;
    place-items: center;
    max-width: 700px;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
    padding: 24px;
    background-color: $neutral-color1;
    border-radius: 36px;
  }
}

.hero__img-wrapper {
  margin-bottom: 2.5rem;
  @include device(tablet) {
    order: 2;
    margin-bottom: initial;
  }
}

.hero__content-wrapper {
  padding: 0 24px 40px 24px;
  color: $primary-color1;
}

.content__title,
.completed__title {
  font-size: map-get($fonts, "$large1");
  margin-bottom: 1.5rem;
  @include device(tablet ) {
    font-size: map-get($fonts, "$medium1");
  }
}

.content__text {
  margin-bottom: 24px;
  line-height: 1.5;
}

.content__list {
  margin-bottom: 40px;
}

.list__item {
  display: grid;
  grid-template-columns: max-content 1fr;
  line-height: 1.5;
  &::before {
    content: "";
    display: inline-block;
    background-image: url(../../assets/images/icon-list.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    margin-right: 16px 
    }
}

.input__wrapper {
  position: relative;
}


label[for="email"] {
  display: inline-block;
  font-size: map-get($fonts, "$small1");
  line-height: 1.5;
  margin-bottom: 8px;
  font-weight: 700;
}

.input__error {
  position: absolute;
  right: 0;
  color: #FF6155;
  font-size: map-get($fonts, "$small1");
  font-weight: 700;
}

input#email {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 16px 0 16px 48px;
  border: 1px solid rgba(25, 24 ,43 , 0.25);
  @include device(tablet ) {
    padding: 16px 0 16px 16px;
  }
}

.form__btn {
  background-color: $primary-color1;
  color: $neutral-color1;
  width: 100%;
  border-radius: 8px;
  padding: 18px 46px 14px 48px;
  @include device(tablet ) {
    padding: 18px 10px 18px 10px; 
  }
}

.completed {
  max-width: 327px;
  margin: 149px auto 40px auto;
  display: none;
  @include device(tablet) {
    background-color: $neutral-color1;
    border-radius: 36px;
    padding: 48px 64px 64px 64px;
  }
}

.completed__img {
  margin-bottom: 40px;
}

.completed__text {
  margin-bottom: 263px;
  @include device(tablet) {
    margin-bottom: initial;
  }
}

.completed__btn {
  background-color: $primary-color1;
  color: $neutral-color1;
  width: 100%;
  border-radius: 8px;
  padding: 18px 46px 14px 48px;
}
