// Colors
$neutral-color1: #FFFFFF;
$primary-color1: #242742;


//Typography
$fonts: (
  "$small1": 12px,
  "$medium1": 32px,
  "$large1": 40px,
  "$large2": 56px
  );
  
  // Media Query
  @mixin device($device) {
  @if $device == tablet {
    @media (min-width: 43.75rem) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}
